<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-Project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target xsi:type="File" name="file"
				fileName="S:\Abhishek's Project\FunDo_Project\FunDo_Notes\Logs\nlog-all-${shortdate}.log"/>
	</targets>
	<rules>
		<logger name="*" minilevel="Trace" writeTo="file" />
	</rules>
</nlog>